### Import the Libraries

In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import os
import pandas as pd
from datetime import datetime
import platform
import matplotlib.pyplot as plt

### Create five functions to scrap data 
- def init_browser(): Open a new Chrome window (For Window user, you need to download a file named 'chromedriver.exe')

- def get_html(browser, url): Get the html of url through new Chrome window
- get_data(html): Scrap the data in html (Find the \<tag> divs or spans, a, p, address with class names) and store them into dictionary
- def scrape(browser, url): Call two functions get_html(browser, url) and get_data(html)

- def main(): Call two functions init_browser() and scrape(browser, url) and return the dictionary that contain all dataset from url

In [4]:
data = {} 

def init_browser():
    if platform.system().lower() == 'windows'.lower():
        executable_path = {
            'executable_path': 
            os.path.join(os.getcwd(), 'chromedriver.exe')}
        return Browser('chrome', **executable_path, headless=False)
    else:
        return Browser('chrome')
    
def get_html(browser, url):
    browser.visit(url)
    html = browser.html
    return html

def get_data(html):   
    soup = BeautifulSoup(html, "html.parser")
    ol_lists = soup.find('div', class_='lemon--div__373c0__1mboc mapColumnTransition__373c0__10KHB arrange-unit__373c0__1piwO arrange-unit-fill__373c0__17z0h border-color--default__373c0__2oFDT').find('div', class_='lemon--div__373c0__1mboc border-color--default__373c0__2oFDT').find('ul', class_='lemon--ul__373c0__1_cxs undefined list__373c0__2G8oH')
    
    ranks = ol_lists.find_all('p', class_='lemon--p__373c0__3Qnnj text__373c0__2pB8f text-color--black-regular__373c0__38bRH text-align--left__373c0__2pnx_ text-size--inherit__373c0__2gFQ3')
    title = ol_lists.find_all('a', class_='lemon--a__373c0__IEZFH link__373c0__29943 link-color--blue-dark__373c0__1mhJo link-size--inherit__373c0__2JXk5')
    target_bf_rating = ol_lists.find_all('div', class_='lemon--div__373c0__1mboc attribute__373c0__1hPI_ display--inline-block__373c0__2de_K u-space-r1 border-color--default__373c0__2oFDT')
    reviews = ol_lists.find_all('span', class_='lemon--span__373c0__3997G text__373c0__2pB8f reviewCount__373c0__2r4xT text-color--mid__373c0__3G312 text-align--left__373c0__2pnx_') 
    infos = ol_lists.find_all('div', class_='lemon--div__373c0__1mboc mainAttributes__373c0__1r0QA arrange-unit__373c0__1piwO arrange-unit-fill__373c0__17z0h border-color--default__373c0__2oFDT')
    addresses = ol_lists.find_all('address', class_='lemon--address__373c0__2sPac')
    time = datetime.now()

    if len(ranks) > 30 or len(ranks) < 33:
        diff = len(ranks) - 30
        ranks = ranks[diff:]
        target_bf_rating = target_bf_rating[diff:]
        infos = infos[diff:]
    if len(ranks) == 33:
        ranks = ranks[2:-1]
        target_bf_rating = target_bf_rating[2:-1]
        infos = infos[2:-1]       
        
    for i in range(len(ranks)):
        rank = [p.text.split('.')[0] for p in ranks] 
        title = [a.a.text for a in ranks]
        rating = [a.span.div for a in target_bf_rating if a.span]
        num_review = [a.text.split()[0]for a in reviews]
        price = [a.div.div.find_next_sibling('div').find_next_sibling('div') for a in infos]
        types = [b.find_all('a', class_='lemon--a__373c0__IEZFH link__373c0__29943 link-color--inherit__373c0__15ymx link-size--default__373c0__1skgq') for b in price]

        address = [a.div.div.p.span.text for a in addresses]
        neighbourhood = [a.find_next_sibling('div') for a in addresses]
        
        data[rank[i]] = {'title': title[i], 
                         'rating': rating[i]['aria-label'].split(' ')[0], 
                         'num_review': num_review[i],
                         'price': ''.join([a for a in price[i].div.div.span.span.text if a is '$' or a is '$$' or a is '$$$' or a is '$$$$']),
                         'types': [b.text for b in types[i]],
                         'address': address[i],
                         'neighbourhood': ''.join([a.div.div.p.text for a in neighbourhood[i]]),
                         'time': time}        
    return target_bf_rating

def scrape(browser, url):
    html = get_html(browser, url)
    datas = get_data(html)
    return len(datas), datas[0]

def main():
    browser = init_browser()
    url = "https://www.yelp.com/search?cflt=restaurants&find_loc=New+York%2C+NY"
#     url = "https://www.yelp.com/search?cflt=restaurants&find_loc=San+Francisco%2C+CA"
#     url = "https://www.yelp.com/search?cflt=restaurants&find_loc=Chicago%2C+IL"
    datas = scrape(browser, url)
    return datas

main()
df = pd.DataFrame(data).T
df.head()

Empty DataFrame
Columns: []
Index: []

### Make the multiple columns with string value from a column with list value
- [types] -> 'type_1', 'type_2', 'type_3'
- Drop the column [types]
- Make a ranking column from index

In [ ]:
df2 = pd.DataFrame(df['types'].values.tolist())
df = df.assign(**{'type_1': df2[0].values, 'type_2': df2[1].values, 'type_3': df2[2].values})
df = df.drop(['types'], axis=1)
df = df.reset_index()
df = df.rename(columns = {'index':'ranking'})
df.head()

### Check data types of the data frame

In [5]:
df.dtypes

ranking                  object
title                    object
rating                   object
num_review               object
price                    object
address                  object
neighbourhood            object
time             datetime64[ns]
type_1                   object
type_2                   object
type_3                   object
dtype: object

### Change numuric values to be a int or float

In [6]:
df['ranking'] = df['ranking'].astype(int)
df['rating'] = df['rating'].astype(float)
df['num_review'] = df['num_review'].astype(int)

### Change the price values to be a numeric value

- '$' -> 5 : Take the median value form range of $1 to $9
- '$$' -> 55 : Take the median value form range of $10 to $99
- '$$$' -> 550 : Take the median value form range of $100 to $999
- '$$$$' -> 5500 : Take the median value form range of $1000 to $9999

In [7]:
for i in range(len(df['price'])):
    if df['price'][i] == '$':
        df['price'][i] = 5
    elif df['price'][i] == '$$':
        df['price'][i] = 55
    elif df['price'][i] == '$$$':
        df['price'][i] = 550
    elif df['price'][i] == '$$$$':
        df['price'][i] = 5500
    elif df['price'][i] == '':
        df['price'][i] = 0

df['price'] = df['price'].astype(int)
print(df)

    ranking                                        title  rating  num_review  \
0         1                                      Upstate     4.5        1796
1         2                                       Amélie     4.5        2595
2         3                                     LoveMama     4.5        4657
3         4                                   Thai Villa     4.5        2951
4         5                                  Barn Joo 35     4.5        1776
5         6                             Burger & Lobster     4.0        5304
6         7                           Ipanema Restaurant     4.0        1308
7         8                                 Uglyduckling     4.0         463
8         9                                  Aunt Jake’s     4.0        1375
9        10                                       nonono     4.5         557
10       11                                       Jajaja     4.5         832
11       12                                      Ainslie     4.5          70
12       13                             Juanchi’s Burger     4.5         380
13       14                              Juliana’s Pizza     4.5        2100
14       15                                Gelso & Grand     4.5         844
15       16                                   Chama Mama     4.5         160
16       17                               Joe’s Shanghai     4.0        5973
17       18                              Salt + Charcoal     4.0         420
18       19                                 Atrium Dumbo     3.5         654
19       20                                      Anytime     4.5         972
20       21                       Boucherie West Village     4.5        1312
21       22                                      Wok Wok     4.0         888
22       23                                      Up Thai     4.5        2148
23       24                                 Pig and Khao     4.0        1563
24       25                              Jacob’s Pickles     4.0        3941
25       26                   Paesano of Mulberry Street     4.0         807
26       27                                         Raku     4.5         981
27       28                           Tonkatsu Matsunoya     4.0         365
28       29                                   Chow House     4.5         325
29       30  Carmine’s Italian Restaurant - Times Square     4.0        3633

    price            address              neighbourhood  \
0      55         95 1st Ave               East Village
1      55        22 W 8th St          Greenwich Village
2      55        174 2nd Ave               East Village
3      55        5 E 19th St                   Flatiron
4      55       34 W 35th St               Midtown West
5      55       39 W 19th St                   Flatiron
6      55       43 W 46th St               Midtown West
7      55       166 Smith St                Cobble Hill
8      55    149 Mulberry St               Little Italy
9      55    118 Madison Ave               Midtown East
10     55     162 E Broadway            Lower East Side
11     55      76 Ainslie St  Williamsburg - North Side
12     55       225 S 1st St  Williamsburg - South Side
13     55   19 Old Fulton St                      DUMBO
14     55       186 Grand St               Little Italy
15     55      149 W 14th St                    Chelsea
16     55          9 Pell St                  Chinatown
17     55       171 Grand St  Williamsburg - South Side
18     55         15 Main St                      DUMBO
19     55       23 W 32nd St                  Koreatown
20    550       99 7th Ave S               West Village
21     55         11 Mott St                  Chinatown
22     55       1411 2nd Ave            Upper East Side
23     55      68 Clinton St            Lower East Side
24     55  509 Amsterdam Ave            Upper West Side
25     55    136 Mulberry St               Little Italy
26     55       342 E 6th St               East Village
27     55      131 E 45th St               Midtown East
28     55    181 Bleecker St          Greenwich Village
29     55      200 W 44th St           Theater District

                         time                  type_1                 type_2  \
0  2019-10-27 21:33:31.827614                 Seafood              Wine Bars
1  2019-10-27 21:33:31.827614                  French              Wine Bars
2  2019-10-27 21:33:31.827614                    Thai              Malaysian
3  2019-10-27 21:33:31.827614                    Thai           Asian Fusion
4  2019-10-27 21:33:31.827614                  Korean             Gastropubs
5  2019-10-27 21:33:31.827614                 Seafood                Burgers
6  2019-10-27 21:33:31.827614               Brazilian             Portuguese
7  2019-10-27 21:33:31.827614  American (Traditional)             Gastropubs
8  2019-10-27 21:33:31.827614                 Italian              Wine Bars
9  2019-10-27 21:33:31.827614      Tapas/Small Plates                Izakaya
10 2019-10-27 21:33:31.827614                 Mexican                  Vegan
11 2019-10-27 21:33:31.827614            Beer Gardens  Venues & Event Spaces
12 2019-10-27 21:33:31.827614              Gastropubs                Burgers
13 2019-10-27 21:33:31.827614                   Pizza                   None
14 2019-10-27 21:33:31.827614                 Italian            Pasta Shops
15 2019-10-27 21:33:31.827614                Georgian                   None
16 2019-10-27 21:33:31.827614            Shanghainese                Seafood
17 2019-10-27 21:33:31.827614                Japanese           Asian Fusion
18 2019-10-27 21:33:31.827614          American (New)                 French
19 2019-10-27 21:33:31.827614                  Korean         American (New)
20 2019-10-27 21:33:31.827614                  French          Cocktail Bars
21 2019-10-27 21:33:31.827614                 Chinese              Malaysian
22 2019-10-27 21:33:31.827614                    Thai           Asian Fusion
23 2019-10-27 21:33:31.827614                Filipino                   Thai
24 2019-10-27 21:33:31.827614            Comfort Food               Southern
25 2019-10-27 21:33:31.827614                 Italian                  Salad
26 2019-10-27 21:33:31.827614                Japanese                Noodles
27 2019-10-27 21:33:31.827614                Japanese                   None
28 2019-10-27 21:33:31.827614                 Chinese                Noodles
29 2019-10-27 21:33:31.827614                 Italian               Caterers

                    type_3
0                 Beer Bar
1                     None
2               Vietnamese
3                     None
4       Tapas/Small Plates
5           American (New)
6              Steakhouses
7                     None
8              Pasta Shops
9                    Ramen
10                    Bars
11             Restaurants
12                    None
13                    None
14                   Pizza
15                    None
16                    None
17             Steakhouses
18                    None
19      Tapas/Small Plates
20             Steakhouses
21                    Thai
22                    None
23            Asian Fusion
24  American (Traditional)
25                 Seafood
26                    None
27                    None
28                    Soup
29   Venues & Event Spaces

/Users/hh/.pyenv/versions/3.6.7/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/Users/hh/.pyenv/versions/3.6.7/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

### Check data types of the data frame

In [8]:
df.dtypes

ranking                   int64
title                    object
rating                  float64
num_review                int64
price                     int64
address                  object
neighbourhood            object
time             datetime64[ns]
type_1                   object
type_2                   object
type_3                   object
dtype: object

### Store three different dataset to CSV files

In [9]:
#  export_csv = df.to_csv ('Dataset/Yelp_Ranking_NY.csv', index = None, header=True)
export_csv = df.to_csv ('Dataset/Yelp_Ranking_SF.csv', index = None, header=True)
# export_csv = df.to_csv ('Dataset/Yelp_Ranking_CHI.csv', index = None, header=True)
export_csv

### Check the data frame group by neighbourhood adding counts

In [10]:
neighbour_df = df.groupby(['neighbourhood']).agg({'neighbourhood': {'neighbourhood_name':'first', 'neighbourhood_count':'count'}, 'ranking':{'ranking':'mean'}, 'rating':{'rating':'mean'},'num_review':{'num_review':'mean'}, 'price':{'price':'mean'}})
neighbour_df.columns = [col[1] for col in neighbour_df.columns]
neighbour_df.head()

/Users/hh/.pyenv/versions/3.6.7/lib/python3.6/site-packages/pandas/core/groupby/generic.py:1455: FutureWarning: using a dict with renaming is deprecated and will be removed
in a future version.

For column-specific groupby renaming, use named aggregation

    >>> df.groupby(...).agg(name=('column', aggfunc))

  return super().aggregate(arg, *args, **kwargs)

,neighbourhood_name,neighbourhood_count,ranking,rating,num_review,price
neighbourhood,,,,,,
Chelsea,Chelsea,1,16.000000,4.5,160.0,55
Chinatown,Chinatown,2,19.500000,4.0,3430.5,55
Cobble Hill,Cobble Hill,1,8.000000,4.0,463.0,55
DUMBO,DUMBO,2,16.500000,4.0,1377.0,55
East Village,East Village,3,10.333333,4.5,2478.0,55